@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fffcf7;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

section.introduction {
  width: clamp(90%, 95%, 80%);
  color: #462255;
  font-weight: 700;
  font-size: clamp(18px, 3vw, 36px);
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section.introduction h2 {
  color: #f19704;
  margin-bottom: 100px;
}

section.introduction p {
  margin: 2.5vh 0;
}

section.introduction img {
  width: clamp(300px, 350px, 500px);
  max-width: 90%;
}

i {
  margin-top: 20px;
}

section.model {
  height: 110vh;
  background-color: #e4f0d0;
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
}

section.model > div {
  height: 50vh;
  background-color: #fffcf7;
  width: 350px;
  margin: 0 clamp(0px, 5vw, 40px);
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 21px 25px;
}

section.information {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: justify;
}

section.information > div {
  margin-bottom: 10px;
}

.list {
  padding: 0 10px;
  text-align: left;
  margin: 10px 0;
}

.list li {
  margin: 10px 0;
}

.dnd {
  background-color: #eddea4;
  margin: 20px 0;
  border-radius: 8px;
  border: 1px dashed #462255;
  color: #66666e;
  font-weight: 300;
}

.dnd img {
  width: 140px;
  margin: 15px 0;
}

.predict {
  width: 100%;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 8px;
  color: #fff;
  background-color: #3a435e;
  padding: 8px 0;
}

.results {
  text-align: left;
  margin-top: 15px;
}
